@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #ffa500;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  height: 80px;
  background-color: #252831;
  text-align:center;
	width: 100%;
	display: flex;
  align-items: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 15px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #3397DB;
  align-items: center;
	padding: 10px,0;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 40px 25px;
  text-align: left;
  max-width: 380px;
	width: 80%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
 height: 450px;
 width: 100%;
 border-top:1px solid #d9d9d9;
 border-bottom:1px solid #d9d9d9;
 margin: auto;
}
.inside #map {
	background-color: #ccc;
  height: 100%;
  width: auto;
  margin: auto;
}
.inside #footer {
  width: 100%;
}
#restaurant-container{
  margin: auto;
  width: 100%;
  height: auto;
  padding: 38px;
	display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30x;
  text-transform: uppercase;
  line-height: 1.1;
	border-radius: 5px;
  height: auto;
}
#restaurant-img {
	width: 90%;
	border-radius: 20px 0 0 0;
}

#restaurant-address {
	width: 90%;
  font-size: 12pt;
  margin: 10px 0px;
	text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 5px 0 20px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
	border-radius: 0 0 20px 0;
}
#reviews-container {
	margin: auto;
	border-bottom: 1px solid #d9d9d9;
  border-top: 1.5px solid #ababab;
	padding-right: 30px;
  width: 100%;
  height: auto;
	display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#reviews-container h2 {
  color: #8A4500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
	margin-left: auto;
  margin-right: auto;
	text-align: center;
	text-transform: uppercase;
}
#reviews-list {
  margin: 0;
  padding: 0;
	display: flex;
  flex-direction: column;
  align-items: center;
}
#reviews-list li {
	background-color: #fff;
  border: 1px solid #333;
  display: block;
  list-style-type: none;
  margin: auto;
  margin-bottom: 38px;
  overflow: hidden;
  padding: 10px;
  width: 85%;
	position: relative;
	border-radius: 20px 0 20px 0;

}
#reviews-list li p {
  margin: 0 0 10px;
	font-family:cursive;
}
#reviews-list li p:nth-child(1) {
  font-size: 1.4em;
	background: #333;
  color: #fff;
		padding: 10px 20px;
}
#reviews-list li p:nth-child(2) {
  width: 50%;
  font-size: 1em;
}
#reviews-list li p:nth-child(3) {
  background: #8A4500;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
#restaurant-hours td {
	color: black;
  background-color: #fff;
  font-size: 10pt;
  font-weight: 300;
  padding: 5px 5px;
}
#restaurant-hours td:nth-of-type(1) {
    font-weight: bold;
}
#restaurant-hours td:nth-of-type(2) {
    font-style: italic;
    max-width: 125px;
}
.aria-label {
  display: none;
}

/* ====================== Media Queries: 480px; ====================== */
@media screen and (min-width: 480px) {
	#restaurant-container, #reviews-container {
    padding: 20px 11px;
    margin: auto;
  }
	#restaurants-list {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
	#restaurants-list li {
		padding: 0 30px 10px 30px;
		margin: 15px;
	}
}

/* ====================== Media Queries: 600px; ====================== */
@media screen and (min-width: 600px) {
  #restaurants-list {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #restaurants-list li {
    padding: 0 30px 10px 30px;
    margin: 15px;
  }
  #restaurant-container, #reviews-container {
    padding: 20px 11px;
    margin: auto;
  }
}
